h1, p{
  text-align: center;
  color: whitesmoke;
}
li:hover{
  background-color: orange;
}
li:active{
  color: white;
  font-style: italic;
  list-style: circle;
}
li{
  color: black;
  list-style: none;
  text-align: center;
}
body{
  background: radial-gradient(#35a7ffff, #369bf6ff, #368eedff, #4898efff, #69abf2ff, #7ab4f3ff, #8bbdf5ff, #9bc7f6ff, #acd0f8ff, #bcdaf9ff);
}